[Unit]
Description=snaprd daemon
After=network.target

[Service]
Environment="SNAPRD_METRICS_PATH=/metrics"
Environment="SNAPRD_METRICS_PORT=9086"
Environment="SNAPRD_CONFIG_FILE=/some/path/snarpd.yaml"
ExecStart=/usr/bin/snaprd
Restart=always
WorkingDirectory=/tmp
